@import "../App.scss";

.rooms-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.rooms-header {
  background-color: $blue;
  height: 154px;
  width: 100%;
  flex: 0 0 154px;
}
.rooms-list {
  padding: 20px 20px 0 20px;
  .rooms-card {
    background-image: linear-gradient(
      200deg,
      rgba(0, 255, 255, 0.4) 25%,
      black
    );
    background-blend-mode: overlay;
    color: white;
    box-shadow: 0 0 6px #ced4da;
    &:nth-child(4n + 1) {
      background-color: $light-green;
    }
    &:nth-child(4n + 2) {
      background-color: $light-blue;
    }
    &:nth-child(4n + 3) {
      background-color: $pink;
    }
    &:nth-child(4n + 4) {
      background-color: $yellow;
    }
  }
}
