@import "../App.scss";

.rooms-card {
  flex: 0 0 80px;
  margin-bottom: 12px;
  align-self: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  &.completed {
    filter: brightness(30%);
  }
}
