@import "../App.scss";

.profile-root {
    display: flex;
    padding: 20px;
    background: linear-gradient(180deg, $blue 50%, #fff 50%);
    .profile {
        font-size: 5rem;
        width: 8.25rem;
        height: 8.25rem;
        align-content: center;
        background-color: $gray;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-name {
        padding: 20px;
        display: flex;
        flex-direction: column;
        .profile-nickname {
            flex: 1;
            color: white;
            font-weight: bold;
            font-size: 2rem;
        }
        .profile-username {
            flex: 1;
            font-size: 1.5rem;
        }
    }
}