@import "../App.scss";

.usercard-root {
    display: flex;
    padding: 20px;
    background: linear-gradient(180deg, $blue 50%, #fff 50%);
    .usercard-name {
        padding: 20px;
        display: flex;
        flex-direction: column;
        .usercard-nickname {
            flex: 1;
            color: white;
            font-weight: bold;
            font-size: 2rem;
        }
        .usercard-username {
            flex: 1;
            font-size: 1.5rem;
        }
    }
}